/pysz/source/*.o
/pysz/source/*.mod
/pysz/source/calc_cl
/pysz/source/calc_by
/pysz/source/calc_dydzdMh
/pysz/source/.*.swp
/pysz/pysz.pyc
/build/*
/dist/*
pysz.egg-info
/.ipynb_checkpoints
/pysz/aux_codes/calc_ptilde/*.o
/pysz/aux_codes/calc_ptilde/*.txt
/pysz/aux_codes/calc_ptilde/*.exe

